@font-face {
    font-family: 'NotoSansCJKkr';
    src: url('../font/NotoSansCJKkr-Light.woff2') format('woff2');
    font-weight: 300;
}
@font-face {
    font-family: 'NotoSansCJKkr';
    src: url('../font/NotoSansCJKkr-Regular.woff2') format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'NotoSansCJKkr';
    src: url('../font/NotoSansCJKkr-Bold.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'Archivo';
    src: url('../font/Archivo-Light.woff2') format('woff2');
    font-weight: 300;
}
@font-face {
    font-family: 'Archivo';
    src: url('../font/Archivo-Regular.woff2') format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Archivo';
    src: url('../font/Archivo-SemiBold.woff2') format('woff2');
    font-weight: 600;
}
@font-face {
    font-family: 'Archivo';
    src: url('../font/Archivo-Bold.woff2') format('woff2');
    font-weight: 700;
}